* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#admin_div{
    display: none;
}
#user_div{
    display: none;
}
#login_div {
    background: black;
    height: 100vh;
    width:  100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}

#login_div img{
    height: 60vh;
    width: 40vw;
}

#user_email, #user_password{
    height: 5vh;
    width: 40vh;
    margin-top: 10px;
    font-size: x-large;
}

#user_email:focus, #user_password:focus{
    border: solid blue 3px;
}

#login{
    height: 5vh;
    width: 40vh;
    margin-top: 10px;
    border-radius: 5%;
    font-size: x-large;
    color: blue;
    font-weight: bold;
    background-color: gold;

}