* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Login */

#admin_div {
  display: none;
  height: 100vh;
  width: 100vw;
  flex-flow: row;
  background: lightgray;
}

#user_div {
  display: none;
  height: 100vh;
  width: 100vw;
}

#login_div {
  background: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
}

#login_div img {
  height: 60vh;
  width: 40vw;
}

#user_email,
#user_password {
  height: 5vh;
  width: 40vh;
  margin-top: 10px;
  font-size: x-large;
}

#user_email:focus,
#user_password:focus {
  border: solid blue 3px;
}

#login {
  height: 5vh;
  width: 40vh;
  margin-top: 10px;
  border-radius: 5%;
  font-size: x-large;
  color: blue;
  font-weight: bold;
  background-color: gold;
}

/* Admin panel */
/*Left side*/

#list{
  width: 50vw;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#list h2{
  text-align: center;
}

#users_list{
  background: lightblue;
  border-collapse: collapse;
  width: 80%;
  font-size: 20px;
  color: black;
  margin-left: 0
}

#users_list, th, tr, td{
  border: 1px solid black;
}

.loginFromAdmin{
  width: 100%;
  height: 30px;
  border-radius: 5%;
  font-size: x-large;
  color: blue;
  font-weight: bold;
  background-color: white;
}

#refresh{
  width: 250px;
  height: 40px;
  border-radius: 5%;
  font-size: x-large;
  color: blue;
  font-weight: bold;
  background-color: white;
  margin-top: 10px;
}

.logout{

}
/*Right side*/
/*Info*/

#info_panel{
  width: 50vw;
  height: 100%;
  display: flex;
  flex-flow: column;
}

#info span{
  color: red
}

#info p{
  margin-top: 10px;
}

#info{
  font-size: 20px;
}

/*Admin panel*/
#panel{
  margin-top: 30px;
  display: flex;
  flex-flow: column;
  margin-left: 25%;
  width: 50%;
}

#panel button{
  width: 80%;
  margin-top: 10px;
  margin-left: 10%;
  border-radius: 5%;
  font-size: x-large;
  color: blue;
  font-weight: bold;
  background-color: white;
}

#panel input{
  height: 40px;
  font-size: 34px;
  width: 100%;
}

#panel input:focus{
  border: solid blue 3px;
}

#panel p{
  margin-top: 40px;
  font-size: 36px;
  text-align: center;
}

#admin_logout{
  width: 40%;
  height: 60px;
  border-radius: 5%;
  font-size: x-large;
  color: blue;
  font-weight: bold;
  background-color: red;
  align-self: flex-end;
  margin-top: auto;
}

/*User*/

#user_div{
  height: 100vh;
  width: 100vw;
  background: lightgray;
  padding-left: 10px;
}

#user_div p{
  padding-top: 20px;
  font-size: 60px;
}

#user_div span{
  color: red;
}
#user_div .logout{
  width: 250px;
  height: 50px;
  font-size: 32px;
  border-radius: 8%;
  background-color: blue;
  color: gold;
  margin-top: 20px;
}

#del_acc{
  width: 250px;
  height: 50px;
  font-size: 32px;
  border-radius: 8%;
  background-color: red;
  color: gold;
  margin-top: 20px;
  margin-left: 50px;
}